{% extends 'base.html' %}

{% block title %}
{% for i in film %}
{{ i.name }}
{% endfor %}
{% endblock %}

{% block body %}
{% for i in film %}
<div>
    <h3 style="margin: 10px;">{{ i.name }}</h3>
    <img src="{{ i.image.url }}" style="margin-left: 10px;">
    <p style="position: absolute; left: 550px; top: 110px; font-family: Verdana; font-size: 30px; margin-right: 10px;">{{ i.description }}</p>
    <h4 style="position: absolute; left: 550px; top: 500px;">Genre - {{ i.genre }}</h4>
    <h4 style="position: absolute; left: 550px; top: 580px;">Actors - {{ i.actors }}</h4>
    <h4 style="position: absolute; left: 550px; top: 660px;">Release date - {{ i.date }}</h4>
    <h4 style="position: absolute; left: 550px; top: 720px;">Country - {{ i.country }}</h4>
</div>
{% endfor %}
{% endblock %}